Package: mate-screensaver-common
Source: mate-screensaver
Version: 1.16.1-1.0nosystemd1
Architecture: all
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Installed-Size: 5785
Depends: dconf-gsettings-backend | gsettings-backend
Breaks: mate-screensaver (<< 1.5.2)
Section: x11
Priority: optional
Homepage: http://www.mate-desktop.org/
Description: MATE screen saver and locker (common files)
 mate-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the MATE desktop.
 .
 This package contains the architecture independent files.
