Package: mate-screensaver
Version: 1.16.1-1.0nosystemd1
Architecture: amd64
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Installed-Size: 481
Depends: dbus-x11, mate-desktop-common, mate-screensaver-common (= 1.16.1-1.0nosystemd1), mate-session-manager (>= 1.11.0), libatk1.0-0 (>= 1.12.4), libc6 (>= 2.14), libcairo-gobject2 (>= 1.10.0), libcairo2 (>= 1.10.0), libdbus-1-3 (>= 1.9.14), libdbus-glib-1-2 (>= 0.78), libgdk-pixbuf2.0-0 (>= 2.22.0), libgl1-mesa-glx | libgl1, libglib2.0-0 (>= 2.35.9), libgtk-3-0 (>= 3.19.12), libice6 (>= 1:1.0.0), libmate-desktop-2-17 (>= 1.14.0), libmate-menu2 (>= 1.6.0), libmatekbd4 (>= 1.16), libnotify4 (>= 0.7.0), libpam0g (>= 0.99.7.1), libpango-1.0-0 (>= 1.18.0), libpangocairo-1.0-0 (>= 1.14.0), libsm6, libstartup-notification0 (>= 0.2), libx11-6, libxext6, libxklavier16 (>= 5.0), libxss1, libxxf86vm1
Recommends: mate-power-manager
Suggests: rss-glx, xscreensaver-data
Breaks: mate-screensaver-common (<< 1.9.0)
Replaces: mate-screensaver-common (<< 1.9.0)
Section: x11
Priority: optional
Homepage: http://www.mate-desktop.org/
Description: MATE screen saver and locker
 mate-screensaver is a screen saver and locker that aims to have simple,
 sane and secure defaults, and be well integrated with the MATE desktop.
 .
 It is designed to support, among other things:
 .
  * the ability to lock down configuration settings
  * translation into other languages
  * user switching
