Package: debian-mate-default-settings
Source: mate-session-manager
Version: 1.16.1-1.0nosystemd1
Architecture: all
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Installed-Size: 47
Depends: desktop-file-utils
Suggests: mate-desktop-environment-core (>= 1.10.0)
Conflicts: mint-mate-default-settings, ubuntu-mate-default-settings
Breaks: mate-session-manager (<< 1.10.2-4~)
Section: x11
Priority: optional
Homepage: http://www.mate-desktop.org/
Description: Default settings for MATE on Debian
 This package comes together with mate-session-manager as provided by upstream
 but does a little tweaking here and there to provide best experience of the
 MATE desktop environment on Debian systems.
