Package: mate-system-monitor-common
Source: mate-system-monitor
Version: 1.16.0-2.0nosystemd1
Architecture: all
Maintainer: MATE Packaging Team <pkg-mate-team@lists.alioth.debian.org>
Installed-Size: 4589
Depends: dconf-gsettings-backend | gsettings-backend
Breaks: mate-system-monitor (<< 1.11.0)
Replaces: mate-system-monitor (<< 1.11.0)
Section: x11
Priority: optional
Homepage: http://www.mate-desktop.org/
Description: Process viewer and system resource monitor for MATE (common files)
 MATE system monitor allows you to graphically view and manipulate the running
 processes on your system.  It also provides an overview of available
 resources such as CPU and memory.
 .
 This package contains the architecture independent files.
